page-home {
  background-image: url('../assets/img/foilage_black.jpg');
  background-size: 100%;

  .searchbar-md {

  }

  #menu-list ion-icon {
    color: #4C4C4C;
  }

  #menu-list {
    height: 100%;
    display: block;
    vertical-align: middle;
  }

  #hrs-title {
    font-weight: 100;
    font-size: 40px;
  }

  .toolbar-title {
    color: #fff;
    text-align: center;
    font-size: 100px;
    font-weight: 300;

    .subtitle {
      font-size: 17%;
      font-weight: 400;
      margin: 0;
    }
  }

  #hrs-subtitle {
    font-weight: normal;
    font-size: 20px;
    color: white;
    text-align: center;
  }

/*  ion-searchbar{
    width: 85%;
    margin: 0 auto;
  }*/

  .home-menu{
    bottom: 3.5em;
  }

  .spacer {
    width: 300px;
    height: 20px;
  }

  .option-button {
    font-size: 1em;
    font-weight: 100;
    text-transform: none;
    height: 25%;
    width: 75%;
    margin: 4%;
    padding: 7px;
  }

  .list-md {
    margin: 0;
  }
}
